.home-nav-gallery {
    margin: auto !important;
    padding:auto !important;
    width:auto;
}


.main-page-container{
    display:flex;
    margin:5px;
}

.main-page-image{
    order:1;
    flex-grow:1;
    max-width:380px;
    max-height:380px;
    padding:5px;
    overflow:hidden;
}

#skc-logo{
    width: 352px ;
}

.catalog-photo{
    width:100%;
}