/* div{
    border-style: solid;
    border-width: 1px;
} */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    font-size:small;
}

#flex-container{
    display: flex;
}

#sales-container{
    flex-grow:1;
}

#items-container{
    flex-grow:3;
}

.list-sales{
    border-style: solid;
    border-width: 0.5px;
    border-radius: 5px;
    width:80%;

    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    padding-left: 5%;

    border-color: rgba(0, 0, 0, .5);
}