{% extends 'shared/layout.html' %}
{% block body %}
{% load static %}

<meta name="theme-color" content="#32A6CD">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="apple-touch-icon" href="{% static 'shared/apple-icon.png' %}">
<link rel="apple-touch-startup-image" href="{% static 'shared/splash-screen.jpg' %}">

<script src="{% static 'todolist/todo.js' %}"></script>

<link rel="stylesheet" href="{% static 'todolist/styles.css' %}">


<div class="container" id="container-todo">
    <!-- Add new task button -->
    <div class="row justify-content-md-center">
        <div class="input-group mb-3 mw-50">
            <input name="todo" id="new-todo" type="text" class="form-control" placeholder="Add to-do" aria-label="Add to-do" aria-describedby="basic-addon2">
            <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" onClick="newTodo()">Add</button>
            </div>
        </div>
    </div>

    <!-- To do items, to be populated by js -->
    <div id="todo-items" class="justify-content-md-center">
        <!-- items will be added here -->
    </div>
    <div id="finished-tasks-button-div" style="text-align:center;">
        <p id="show-finished-tasks" onClick="showTodoAsList(true); hideThis('show-finished-tasks', 'hide-finished-tasks'); ">show finished tasks</p>
        <p id="hide-finished-tasks" onClick="showTodoAsList(false, true); hideThis('hide-finished-tasks', 'show-finished-tasks');" style="display:none;">hide finished tasks</p>
    </div>

    <!-- Modal -->
    <dialog id="modal-container" class="container col-md-3 pt-5">
      <article id="modal-content">
        <a href="#close"
          aria-label="Close"
          class="close"
          data-target="modal-container"
          onClick="closeEditModal()">
        </a>
        <form>
          <input id="edited-todo-id" name="edited-todo-id" type="hidden">
          <label for="edit-todo">Todo</label>
          <textarea oninput="autoGrow(this)" name="text" rows="1" cols="10" id="edit-todo-text" style="resize:none; overflow:hidden;"> </textarea>  
          <!-- Button -->
          <button type="button" onClick="postChanges()">Submit</button>
        </form>
      </article>
    </dialog>
</div>


    <!-- Undo button modal -->
  <button class="outline" type="button" onClick="undoChanges()" id="undo-floating-button">Undo</button>

{% endblock %}