{% extends 'shared/layout.html' %}
{% block body %}
{% load static %}
<meta name="mobile-web-app-capable" content="yes">
<script src="{% static 'todolist/todo.js' %}"></script>
<link rel="stylesheet" href="{% static 'todolist/styles.css' %}">


<div class="container col-md-3 pt-5">
    <!-- Add new task button -->
    <div class="row justify-content-md-center">
        <div class="input-group mb-3 mw-50">
            <input name="todo" id="new-todo" type="text" class="form-control" placeholder="Add to-do" aria-label="Add to-do" aria-describedby="basic-addon2">
            <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" onClick="newTodo()">Add</button>
            </div>
        </div>
    </div>

    <!-- To do items, to be populated by js -->
    <div id="todo-items" class="justify-content-md-center">
        <!-- items will be added here -->
    </div>
    <div id="finished-tasks-button-div" style="text-align:center;">
        <p id="show-finished-tasks" onClick="showTodoAsList(true); hideThis('show-finished-tasks', 'hide-finished-tasks'); ">show finished tasks</p>
        <p id="hide-finished-tasks" onClick="showTodoAsList(false, true); hideThis('hide-finished-tasks', 'show-finished-tasks');" style="display:none;">hide finished tasks</p>
    </div>



</div>


{% endblock %}