/* I should move this font to the shared css. */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');



#todo-items {
    align-items: center;
}

.item-entry {
    list-style-type: none;

    text-align: left;
    vertical-align:bottom;
    vertical-align:middle;

    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    
    border-color: rgba(119,136,153,0.3);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

#show-finished-tasks, #hide-finished-tasks{
    color: lightslategray;
    font-size: 14px;
}