{% extends 'app_calendar/layout.html' %}

{% block body %}

<body>
  <div class="container-fluid text-center calendar-month-container">
    <!-- MONTH -->
    <div class="row">
      <div class="col calendar-month">JANUARY 2023</div>
    </div>

    <!-- DAYS -->
    <div class="row calendar-month-days-row">
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
    </div>
    <div class="row calendar-month-days-row">
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
    </div>
    <div class="row calendar-month-days-row">
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
    </div>
    <div class="row calendar-month-days-row">
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
    </div>
    <div class="row calendar-month-days-row">
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
      <div class="col calendar-month-days">col</div>
    </div>

  </div>


</body>
{% endblock %}
