{% extends 'app_calendar/layout.html' %}

{% block body %}



<div class="container-flex">

  <div>
    <div style="display:inline">
      <button class="btn btn-sm year-change-button" id="prev-year"><i class="fa-solid fa-chevron-left"></i></button>
      <div id="current-year" style="display:inline; padding:0px;">2023</div>
      <button class="btn btn-sm year-change-button" id="next-year"><i class="fa-solid fa-chevron-right"></i></button>
    </div>
    

    <div id="month-name-container" style="display:inline">
      <button class="btn btn-sm month-change-button" id="prev-month"><i class="fa-solid fa-chevron-left"></i></button>
      <span id="current-month">7</span>
      <button class="btn btn-sm month-change-button" id="next-month"><i class="fa-solid fa-chevron-right"></i></button>
      <div style="display:inline; text-align:center;" id="current-month-name"></div>
    </div>
  </div>


  <div class="row">
      <div class="col">
          <body>
              <div class="container-fluid text-center flex-shrink-0" id="calendar-month-container"> <!-- body container -->
                  <!-- populated by javascript -->
              </div>
            
            </body>
      </div>
  </div>

  <div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form id="compose-form" onsubmit="return false">
          
            <div class="form-group">
                Date: <input class="form-control" id="modal-complete-by">
                Time: <input class="timepicker" id="modal-complete-time">
            </div>
            <div class="form-group">
                Todo: <input class="form-control" id="modal-todo">
            </div>
            <textarea class="form-control" id="modal-detail"></textarea>
            <input value="Save" id="save-calendar" type="submit" class="btn btn-primary"/>
            <button type="button" class="btn btn-outline-danger" id="month-delete-todo">Delete</button>

        </form>
    </div>
  </div>

</div>

<script>
  $(document).ready(function(){
    $('.timepicker').timepicker({
      timeFormat: 'h:mm p',
      interval: 15,
      minTime: '0',
      maxTime: '11:59pm',
      startTime: '10:00',
      dynamic: false,
      dropdown: false,
      scrollbar: true
  });
  });
</script>

{% endblock %}
