{% extends 'app_calendar/layout.html' %}
{% load static %}

{% block body %}
{% comment %} 
<script>
  var $el = $("html");
  $el.css({width: $el.width(), height: $el.height()});
</script>
{% endcomment %}


<body>
  <div class="container-fluid text-center calendar-year-container"> <!-- body container -->
    <div id="months-container" class="d-flex flex-row mb-3"> <!-- flex container -->
      <!-- propagated by javascript -->
    </div>
  </div>

</body>
{% endblock %}

{% block script %}
<script src="{% static 'app_calendar/layout.js' %}"></script>
{% endblock %}