{% extends 'shared/layout.html' %}
{% load static %}
{% block body %}

<!-- custom scripts -->
<link rel="stylesheet" href="{% static 'app_calendar/styles.css' %}">
<script src="{% static 'app_calendar/layout.js' %}"></script>

<!-- other utilities -->
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

<div>
  <span id="prev-year" ><i class="fa-solid fa-chevron-left"></i></span>
  <span id="current-year" style="display:inline; padding:0px;">2023</span>
  <span id="next-year" ><i class="fa-solid fa-chevron-right"></i></span>
</div>

<figure  style="width:100%;">
  <div style="width:99%;"> <!-- it doesn't work if i merge it with the div below -->
    <div class="row">
      <div class="col">
        <body>
          <div class="calendar-year-container"> <!-- body container -->
            <div id="months-container" class="d-flex flex-row mb-3"> <!-- flex container -->
              <!-- propagated by javascript -->
            </div>
          </div>
        </body>
      </div>
    </div>
  </div>
</figure>

{% endblock %}