{% extends 'skc/layout.html' %}
{% block body %}
{% load static %}
<script>
    let type = "{{type}}"
</script>
<div id="image-container" class="serv container col-md-6">

</div>

<!-- modal -->
<dialog id="modal">
    <span id="modal-close">
        <i id="close-icon" class="fa-regular fa-circle-xmark fa-xl" onclick="hideCake();"></i>
    </span>
    
    <i id="modal-previous-button" onclick="getNextModal(-1, '{{type}}');" class="fa-solid fa-circle-chevron-left fa-xl modal-nav-buttons"></i>

    <div id="modal-container">
        <div id = "modal-image-container">
        </div>
        <div id="modal-details-container">
            <p id="modal-item-name"></p>
            <p id="modal-item-price"></p>
        </div>
        
        {% if user.is_authenticated %}
            <p id="modal-edit-item">
                <a href="" target="_blank" rel="noopener noreferrer">Edit</a>
            </p>
        {% endif %}
    </div>
    
    <i id="modal-next-button" onclick="getNextModal(1, '{{type}}');" class="fa-solid fa-circle-chevron-right fa-xl modal-nav-buttons"></i>
 
</dialog>



{% endblock %}

