{% load static %}

<!DOCTYPE html>
<html class="sitewide" lang="en">
    <head>
        <title>Simply Cakes</title>

        <!-- web app -->
        <meta name="theme-color" content="#ba2166">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="apple-touch-icon" href="{% static 'shared/apple-icon.png' %}">
        <link rel="apple-touch-startup-image" href="{% static 'shared/splash-screen.jpg' %}">

        <!-- meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Simply Cakes" />
        <meta name="author" content="Juan Montano" />

        <!-- bootstrap -->
        <link rel="stylesheet" href="{% static 'shared/sitewide.css' %}">
        <link rel="stylesheet" href="{% static 'skc/styles.css' %}">

        <!-- pico css -->
        <link rel="stylesheet" href="{% static 'shared/pico-bootstrap-grid.css' %}">

        <!-- fontawesome -->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <!-- navbar -->
        <div class="container ">
            <nav id="sitewide-navbar">
                <ul>
                <li><img id="skc-logo" src="{% static 'skc/images/logo-transparent.png' %}"></li>
                </ul>

                <ul>
                <li><a href="/">Home</a></li>
                <li>
                    <details class="apps-popup" role="list">
                    <summary aria-haspopup="listbox">Products</summary>
                    <ul role="listbox">
                        <li><a href="/regular-cakes">Regular Cakes</a></li>
                        <li><a href="/customied-cakes">Customized Cakes</a></li>
                        <li><a href="/breads-pastries">Breads & Pastries</a></li>
                    </ul>
                    </details>
                </li>
                </ul>
            </nav>

            
        </div>

            {% block body %}
            {% endblock %}
    
        
    </body>

</html>
