{% extends 'skc/layout.html' %}
{% block body %}
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    
    <div class="container col-md-4 pt-5">
        <article>
            <form action="{% url 'skc_login' %}" method="post">
                {% csrf_token %}
                <input id="from_app" name="from_app" type="hidden" value="{{ from_app }}">

                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="email@domain.com" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="" required>
            
                <button type="submit">Login</button>
            </form>

            <p style="text-align:center; font-size: 14px;">Don't have an account? <a href="/register/{{from_app}}">Let's make one.</a></p>
            
            <footer>
                <div class="container d-flex justify-content-center py-2" style="text-align:center;">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div> 
            </footer>
        </article>
    </div>



{% endblock %}