{% extends 'skc/layout.html' %}
{% block body %}
{% load static %}

<div class="container">
    <div class="main-page-container">
        <div id="customized-cake-image-1" class="main-page-image">
        </div>
        <div id="customized-cake-image-2" class="main-page-image">
        </div>
        <div id="customized-cake-image-3" class="main-page-image">
        </div>
    </div>

    <div class="main-page-container">
        <div id="customized-cake-image-4" class="main-page-image">
        </div>
        <div id="customized-cake-image-5" class="main-page-image">
        </div>
        <div id="customized-cake-image-6" class="main-page-image">
        </div>
    </div>

    <div class="main-page-container">
        <div id="customized-cake-image-7" class="main-page-image">
        </div>
        <div id="customized-cake-image-8" class="main-page-image">
        </div>
        <div id="customized-cake-image-9" class="main-page-image">
        </div>
    </div>
</div>
<!-- pagination -->
<div id="pagination-buttons">
    <!-- populated by javascript -->
</div>

{% endblock %}