{% extends 'skc/reports_template.html' %}
{% block body %}
{% load static %}
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

<div id="reports-container" class="container col-md-8">
    <div id="flex-container">
        <div id="sales-container">
            <span>Sale: 28, Total: 5,000</span>
        </div>
        <div id="items-container">
            <span>
                Moist Chocolate Cake, 5pcs, Total: 4250
            </span>
        </div>
    </div>
</div>
{% endblock %} 