{% extends 'shared/layout.html' %}
{% block body %}
{% load static %}

<!--
<img src="{% static 'shared/apple-icon.png' %}">
-->

<div id="under-construction-container" class="container col-md-6-mx-auto">

    <h1 id="under-construction-header">Under Construction</h1>
    <p class="under-construction-body">If you're looking for our todo list app, it's <a href="/todo">here</a>.</p>
    <p class="under-construction-body">Our calendar app is open for preview and testing <a href="/calendar">here</a>.</p>
</div>

{% endblock %}