{% extends 'shared/layout.html' %}
{% block body %}
{% load static %}

<!--
<img src="{% static 'shared/apple-icon.png' %}">
-->

<div id="under-construction-container" class="container col-md-6-mx-auto">

    <h1 id="under-construction-header">Under Construction</h1>
    <p class="under-construction-body">If you're here for my Artificial Intelligence project, you may contact me <a href="mailto:juan@montano.ph">here</a>.</p>
    <p class="under-construction-body">If you're looking for the todo list app, it's <a href="/todo">here</a>.</p>

</div>

{% endblock %}