{% load static %}

<!DOCTYPE html>
<html class="sitewide" lang="en">
    <head>
        <title>Montano.ph</title>
        
        <!-- meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Simple Calendar App" />
        <meta name="author" content="Juan Montano" />

        <!-- bootstrap -->
        <link rel="stylesheet" href="{% static 'shared/sitewide.css' %}">

        <!-- pico css -->
        <link rel="stylesheet" href="{% static 'shared/pico-bootstrap-grid.css' %}">

        <!-- fontawesome -->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

    </head>

    <body>
        <!-- navigation bar -->
        <div class="container ">
          <nav id="sitewide-navbar">
            <ul>
              <li><strong>Montano</strong></li>
            </ul>

            <ul>
              <li><a href="/">Home</a></li>
              <li>
                <details class="apps-popup" role="list">
                  <summary aria-haspopup="listbox">Apps</summary>
                  <ul role="listbox">
                      <li><a href="/calendar">Calendar</a></li>
                      <li><a href="/todo">Todo List</a></li>
                      <li><a href="#">Notes</a></li>
                      <li><a href="#">Tools</a></li>
                  </ul>
                </details>
              </li>
              <li><a href="/blog">Blog</a></li>
              {% if user.is_authenticated %}
              <li><a href="/logout">Logout</a></li>
              {% endif %}
            </ul>
          </nav>

        </div>


        {% block body %}
        {% endblock %}

        <!-- scripts -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </body>
</html>